    <!-- footer section  -->
    {% load static%}
    <footer>
        <div class="container footer-container">
            <a href="#" class="company-logo"> 
               Inventory
            </a>
            <div class="column-links">
                <h4><a href=""></a>Home</h4>
            </div>

            <div class="column-links">
                <h4><a href="enquiry">Enquiry</a></h4>
            </div>
     
            <div class="column-links">
                <h4><a href="about">About Us</a></h4>
            </div>
            
        </div>
    </footer>
 <!-- sub footer -->
 <div class="sub-footer">
    <div class="container flex sub-footer-container">
        <div class="sub-footer-policy flex">
            <a href="#" class="hover-link">Privacy policy</a>
            <a href="#" class="hover-link">Terms & conditions</a>
            <a href="#" class="hover-link">Security information</a>
        </div>
        <div class="font-icon flex">
            <a href="#" class="hover-link"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="hover-link"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="hover-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="hover-link"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
 </div> 

    <!-- cdn fontawesome -->
    <script src="https://kit.fontawesome.com/4539f1b961.js" crossorigin="anonymous"></script>

</body>
</html>